@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.row {
  margin-bottom: 15px; }
  .row::after {
    clear: both;
    display: block;
    content: ''; }

.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px; }

.col1 {
  width: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.col6 {
  width: 50%; }

.col7 {
  width: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.col12 {
  width: 100%; }

@media (min-width: 600px) {
  .colM1 {
    width: 8.3333333333%; }

  .colM2 {
    width: 16.6666666667%; }

  .colM3 {
    width: 25%; }

  .colM4 {
    width: 33.3333333333%; }

  .colM5 {
    width: 41.6666666667%; }

  .colM6 {
    width: 50%; }

  .colM7 {
    width: 58.3333333333%; }

  .colM8 {
    width: 66.6666666667%; }

  .colM9 {
    width: 75%; }

  .colM10 {
    width: 83.3333333333%; }

  .colM11 {
    width: 91.6666666667%; }

  .colM12 {
    width: 100%; } }
@media (min-width: 900px) {
  .colL1 {
    width: 8.3333333333%; }

  .colL2 {
    width: 16.6666666667%; }

  .colL3 {
    width: 25%; }

  .colL4 {
    width: 33.3333333333%; }

  .colL5 {
    width: 41.6666666667%; }

  .colL6 {
    width: 50%; }

  .colL7 {
    width: 58.3333333333%; }

  .colL8 {
    width: 66.6666666667%; }

  .colL9 {
    width: 75%; }

  .colL10 {
    width: 83.3333333333%; }

  .colL11 {
    width: 91.6666666667%; }

  .colL12 {
    width: 100%; } }
.navbar {
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: background-color 0.25s; }

.bgRed {
  background-color: #242424; }

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.navLogo {
  width: 150px; }
  .navLogo img {
    width: 30% !important; }

.navList {
  display: none;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #242424;
  z-index: 10000; }
  .navList ul {
    padding: 0px;
    margin: 0px; }

.listItem {
  padding: 20px;
  font-size: 20px;
  list-style-type: none; }

@media screen and (min-width: 600px) {
  .navContainer {
    flex-direction: column; }

  .navIcon {
    display: none; }

  .navList {
    display: block !important; }
    .navList ul {
      display: flex;
      justify-content: center; }

  .listItem {
    padding: 0 20px; }

  .navLogo {
    text-align: center;
    width: 50%; } }
@media screen and (min-width: 900px) {
  .navContainer {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0; }

  .navList {
    width: auto;
    background-color: rgba(0, 0, 0, 0); }
    .navList a {
      text-decoration: none;
      color: white;
      font-weight: bold; }

  .navLogo {
    width: 30%; } }
.headerImg {
  background-image: url("../media/rory1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center; }
  .headerImg img {
    z-index: 100; }
  .headerImg a {
    position: absolute;
    bottom: 0;
    color: white;
    padding-bottom: 3%;
    font-size: 3em; }

.splashOpacityLayer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.5); }

@media screen and (min-width: 900px) {
  .headerImg img {
    width: 30%; } }
.socialContainer {
  text-align: center;
  position: relative;
  margin-bottom: 5%; }
  .socialContainer a {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    width: 100%;
    padding-bottom: 1%;
    color: white;
    text-decoration: underline;
    font-size: 1.8em;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; }

.soundIcon {
  display: flex;
  align-content: center;
  justify-content: center; }
  .soundIcon a {
    color: white;
    font-size: 3em; }

.upComingContainer {
  padding: 5% 0%; }

.songKickLink {
  border: none;
  padding: 3% 4%;
  text-decoration: none !important;
  background-color: #1c1c1c;
  display: flex;
  align-self: center;
  text-align: center !important;
  justify-content: space-between;
  align-items: center; }

.mouseIcon {
  text-align: center; }

#customInstaFeed {
  display: flex;
  justify-content: space-between; }
  #customInstaFeed img {
    width: 100% !important;
    height: auto !important; }
  #customInstaFeed a {
    border: none !important;
    display: flex !important;
    padding: 0% !important;
    margin: 0 !important;
    width: 100% !important; }
    #customInstaFeed a a {
      width: 100% !important; }

@media screen and (min-width: 900px) {
  .soundIcon a {
    font-size: 4em;
    padding: 5% 0% 4% 0%; }

  .songKickLink {
    border: 1px solid white;
    padding: 1% 3% 1% 1%;
    margin-bottom: 2%;
    width: 30%; } }
@media screen and (max-width: 600px) {
  #customInstaFeed img {
    width: 100%; }
  #customInstaFeed a {
    width: 100%; }
    #customInstaFeed a a {
      width: 100%; } }
.footer {
  background-color: #1c1c1c; }

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.8em; }

.footerText {
  padding-top: 5%;
  color: white;
  padding-left: 10%;
  width: 100%;
  font-size: 1.4em; }

@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    justify-content: space-between; }

  .footerText {
    padding-top: 0%;
    color: white;
    padding-left: 10%;
    width: 40%;
    font-size: 1.4em; }

  .footerNav {
    width: 50%;
    text-align: right;
    padding-right: 10%; }
    .footerNav ul a {
      text-decoration: none;
      color: white; } }
* {
  box-sizing: border-box; }

.splshSlideshowContainer {
  width: 70%; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none;
  transition-timing-function: ease-in-out; }
  .mySlides img {
    border-radius: 1em; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@media screen and (min-width: 900px) {
  .splshSlideshowContainer {
    width: 30%; } }
.navAno a:hover:after {
  width: 100%;
  left: 0; }
.navAno a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0; }
.navAno a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative; }

.shopContainer {
  padding: 2% 10%; }

.shopHeader {
  text-decoration: underline;
  padding-top: 15%;
  font-size: 1em; }

@media screen and (min-width: 900px) {
  .shopContainer {
    padding: 0% 10%;
    padding-bottom: 2%; }

  .shopHeader {
    text-decoration: underline;
    padding-top: 13%;
    font-size: 1.8em; } }
.upcomingTable {
  margin-bottom: 5%; }
  .upcomingTable tr {
    text-align: left; }
    .upcomingTable tr td {
      border-right: 1px solid white;
      border-left: 1px solid white; }

.songKickLink {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 10%; }

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.contactContainer {
  width: 40%;
  margin: 5%, 10%; }
  .contactContainer form {
    margin-top: 30%;
    margin-bottom: 30%; }
    .contactContainer form label {
      font-size: 1.8em; }
    .contactContainer form input, .contactContainer form textarea {
      border-radius: 4px;
      border: none;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      color: white;
      background-color: #1c1c1c; }
    .contactContainer form input {
      width: 90% !important; }
    .contactContainer form button {
      background-color: #1c1c1c;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer; }

@media screen and (max-width: 900px) {
  .contactContainer {
    width: 90%; } }
#noShows {
  color: white;
  margin: 5% 0%;
  text-decoration: underline; }

html {
  scroll-behavior: smooth; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: #242424;
  font-family: 'Open Sans', sans-serif; }

h1, h2 {
  font-family: 'lavah_progrunge'; }

.container {
  padding: 5% 10%; }

.centerCenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.w100h100 {
  height: 100vh;
  width: 100%; }

.textWhite {
  color: white; }

.placeHolderH1 {
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
  font-size: 2em; }

@media screen and (min-width: 900px) {
  .container {
    padding: 0% 10%; } }

/*# sourceMappingURL=styles.css.map */
